---
import { Dashboard } from "@/components/cms/dashboard";
import CmsLayout from "../../layouts/CmsLayout.astro";
import { treesap } from "../../treesap/treesap.config";
import { Card, CardHeader, CardTitle } from "@/components/ui/card";

const navData = await treesap.getCmsNav();
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} client:only="react">
    <div class="p-8 flex flex-col gap-4">
      <div>
        <h2 class="text-2xl font-bold">Collections</h2>
        <ul
          class="py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          {
            navData
              .filter((item) => item.type === "collection")
              .map((item) => (
                <li>
                  <a href={`/admin/collections/${item.slug}`}>
                    <Card >
                      <CardHeader>
                        <CardTitle className="text-center">
                          {item.name}
                        </CardTitle>
                      </CardHeader>
                    </Card>
                  </a>
                </li>
              ))
          }
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold">Globals</h2>
        <ul
          class="py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          {
            navData
              .filter((item) => item.type === "global")
              .map((item) => (
                <li>
                  <a href={`/admin/globals/${item.slug}`}>
                    <Card>
                      <CardHeader>
                        <CardTitle className="text-center">
                          {item.name}
                        </CardTitle>
                      </CardHeader>
                    </Card>
                  </a>
                </li>
              ))
          }
        </ul>
      </div>
    </div>
  </Dashboard>
</CmsLayout>
